html {
    font-size: 18px;
}

body {
    background-color: var(--neutral-900);
    padding: 30px 50px;
    color: var(--neutral);
    font-family: "Bricolage Grotesque", sans-serif;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

main {
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.hide {
    display: none !important;
}