/* DROPDOWN GENERAL STYLES */

.dropdown {
    position: absolute;
    border-radius: 8px;
    background-color: var(--neutral-800);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.3);
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border: 1px solid var(--neutral-600);
    z-index: 1000;
    min-width: 160px;
}

.dropdown-btn {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: var(--neutral);
    text-align: start;
    border: 1.7px solid transparent;
    cursor: pointer;
    user-select: none;
    transition: 0.3s background ease-in;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdown-btn:is(:hover, :focus) {
    border-color: var(--neutral-600);
    background-color: var(--neutral-700);
}

.rotate-icon {
    transform: rotate(180deg);
}

/* UNITS DROPDOWN */
.unit-menu {
    top: 44px;
    right: 0;
}

.separator {
    border: none;
    width: 100%;
    height: 1.3px;
    background-color: var(--neutral-700);
    margin-block: 5px;
}

.unit-menu__group ul {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.unit-menu__group .unit-menu__group-label {
    color: var(--neutral-300);
    font-size: 0.7rem;
    padding-inline: 10px;
    margin-bottom: 4px;
}


/* SEARCH DROPDOWN MENU */
.search-form__dropdown-list {
    left: 0;
    top: 62px;
}