.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

:root {
    /* Neutral */
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral: hsl(0, 0%, 100%);

    /* Orange */
    --orange-500: hsl(28, 100%, 52%);

    /* Blue */
    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);

}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 18px;
}

body {
    background-color: var(--neutral-900);
    padding: 30px 50px;
    color: var(--neutral);
    font-family: "Bricolage Grotesque", sans-serif;
}

.container {
    width: min(90%, 1200px);
    margin-inline: auto;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

ul li {
    list-style-type: none;
}


/* DROPDOWN GENERAL STYLES */

.dropdown {
    position: absolute;
    border-radius: 8px;
    background-color: var(--neutral-800);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 5px;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    border: 1px solid var(--neutral-600);
    z-index: 1000;
    min-width: 160px;
}

.dropdown-btn {
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    color: var(--neutral);
    text-align: start;
    border: 1.7px solid transparent;
    cursor: pointer;
    user-select: none;
    transition: 0.3s background ease-in;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dropdown .dropdown-btn:hover,
.dropdown .dropdown-btn:focus {
    border-color: var(--neutral-600);
    background-color: var(--neutral-700);
}

.dropdown[hidden] {
    display: none;
}


/* HEADER */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.header__logo img {
    width: 100%;
    max-width: 170px;
}

.header__units {
    position: relative;
}

.header__units .units-btn {
    padding: 10px 15px;
    border: none;
    color: var(--neutral);
    align-items: center;
    display: flex;
    column-gap: 5px;
    font-size: 0.8rem;
    border-radius: 5px;
    background-color: var(--neutral-800);
    cursor: pointer;
    transition: 0.3s background ease-in;
}

.header__units button img {
    width: 13px;
    height: 13px;
}

.header__units button:hover {
    background-color: var(--neutral-700);
}


/* UNITS DROPDOWN */
.unit-menu {
    top: 44px;
    right: 0;
}

.separator {
    border: none;
    width: 100%;
    height: 1.3px;
    background-color: var(--neutral-700);
    margin-block: 5px;
}

.unit-menu__group ul {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.unit-menu__group .unit-menu__group-label {
    color: var(--neutral-300);
    font-size: 0.7rem;
    padding-inline: 10px;
    margin-bottom: 4px;
}

/* MAIN CONTENT */

main {
    margin-top: 30px;
}

h1 {
    text-align: center;
    font-size: 2.4rem;
}


/* SEARCH FORM */
form {
    margin-top: 30px;
    text-align: center;
    display: flex;
    align-items: center;
    column-gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.search-form__field {
    display: flex;
    background-color: var(--neutral-800);
    border-radius: 8px;
    column-gap: 8px;
    padding-inline: 20px 10px;
    border: 3px solid var(--neutral-800);
    position: relative;
}



.search-form__field img {
    width: 20px;
}

.search-form__field input {
    padding: 15px 10px;
    border: none;
    outline: none;
    background-color: transparent;
    color: var(--neutral);
    min-width: 400px;
    font-size: 0.9rem;
}

.search-form__field input::placeholder {
    color: var(--neutral-200);
}

.search-form__field:has(input:focus) {
    border: 3px solid var(--neutral-900);
    outline: 2px solid var(--neutral);
}

form .search-form__btn {
    background-color: var(--blue-500);
    border: 3px solid transparent;
    color: var(--neutral);
    padding: 14px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 0.9rem;
    transition: 0.3s background ease-in;
}

form .search-form__btn:hover {
    background-color: var(--blue-700);
}

form .search-form__btn:focus {
    border: 3px solid var(--neutral-900);
    outline: 2px solid var(--blue-500);
}


/* SEARCH DROPDOWN MENU */
.search-form__dropdown-list {
    left: 0;
    top: 62px;
    width: 100%;
}


/* WEATHER */

.weather {
    margin-top: 32px;
    display: grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


/* CURRENT WEATHER */

.weather__current {
    grid-column: span 2;
    background: url(/src/assets/images/bg-today-large.svg) no-repeat center center;
    background-size: cover;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 25px;
    min-height: 240px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.weather__current .weather__city {
    font-weight: bold;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.weather__current time {
    font-weight: 200;
    color: var(--neutral-200);
}

.weather__temp-block {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

.weather__temp-block img {
    width: 90px;
}

.weather__temp-block p {
    font-weight: 600;
    font-size: 4rem;
}


/* HOURLY FORECAST */

.weather__hourly {
    grid-row: span 3;
    background-color: var(--neutral-800);
    border-radius: 12px;
    padding: 15px;
}

.weather__hourly .hourly__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 12px;
    position: relative;
}

.hourly__header .hourly__day-btn {
    padding: 9px 12px;
    border-radius: 8px;
    background-color: var(--neutral-600);
    border: none;
    color: var(--neutral);
    cursor: pointer;
    transition: 0.3s background ease-in;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.hourly__header .hourly__day-btn:hover {
    background-color: var(--neutral-700);
}


.hourly__list {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
}

.hourly__item {
    display: flex;
    justify-content: space-between;
    background-color: var(--neutral-700);
    border-radius: 6px;
    align-items: center;
    padding: 7px 10px;
    border: 2px solid var(--neutral-600);
}

.hourly__time-block {
    display: flex;
    align-items: center;
}

.hourly__time-block img {
    width: 43px;
}


/* Days Dropdown List */
.hourly__day-dropdown {
    right: 0;
    top: 45px;
    width: 160px;
}


/* WEATHER DETAILS */

.weather__details {
    grid-column: span 2;
    display: flex;
    align-items: center;
    column-gap: 1.2rem;
}

.details_item {
    background-color: var(--neutral-800);
    padding: 20px;
    border-radius: 12px;
    border: 2px solid var(--neutral-600);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
}

.details_item .details__label {
    margin-bottom: 15px;
    color: var(--neutral-200);
}

.details_item .details__value {
    font-size: 1.5rem;
    font-weight: 300;
}


/* WEEKLY FORECAST */

.weather__weekly {
    grid-column: span 2;
}

.weekly__list {
    display: flex;
    column-gap: 0.9rem;
    margin-top: 15px;
}

.weekly__list .weekly__item {
    background-color: var(--neutral-800);
    padding: 15px 10px;
    border-radius: 12px;
    border: 2px solid var(--neutral-600);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 15px;
    align-items: center;
    font-size: 0.9rem;
}


.weekly__item .weekly__icon {
    width: 50px;
}

.weekly__item .weekly_temps {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    color: var(--neutral-200);
}