.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

:root {
    /* Neutral */
    --neutral-900: hsl(243, 96%, 9%);
    --neutral-800: hsl(243, 27%, 20%);
    --neutral-700: hsl(243, 23%, 24%);
    --neutral-600: hsl(243, 23%, 30%);
    --neutral-300: hsl(240, 6%, 70%);
    --neutral-200: hsl(250, 6%, 84%);
    --neutral: hsl(0, 0%, 100%);

    /* Orange */
    --orange-500: hsl(28, 100%, 52%);

    /* Blue */
    --blue-500: hsl(233, 67%, 56%);
    --blue-700: hsl(248, 70%, 36%);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 18px;
}

body {
    font-family: "DM Sans", sans-serif;
    background-color: var(--neutral-900);
    padding: 20px 40px;
    /*font-family: "Bricolage Grotesque", sans-serif; */
}


header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}